.container {
  color: #282828;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  justify-content: center;
  margin-bottom: 100px;
  align-items: center;

  .controls {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 32px;

    button {
      background-color: white;
      padding: (10px 20px 10px 20px);
      border: 0;
      font-size: 16px;
      font-family: Poppins;
      &:hover {
        background-color: #f9db59;
        box-shadow: 0px 3px 18px 4px rgba(123, 123, 123, 0.146);
        transform: scale(0.95);
        transition: all 100ms linear;
      }
      &:active {
        background-color: #f0d453;
      }
      &:focus {
        background-color: #f0d453;
        box-shadow: 0 0 0 18px transparent;
        animation: pulse 500ms;
      }

      @keyframes pulse {
        from {
          box-shadow: 0 0 0 0 #f0d453;
        }
      }
    }
  }

  .section {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .letter {
    font-size: 3rem;
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    &:hover {
      background-color: #f0d453;
      box-shadow: 0px 3px 18px 4px rgba(123, 123, 123, 0.146);
      transform: scale(0.95);
      transition: all 100ms linear;
      animation: glitch 1s ease alternate infinite;
    }
  }

  @keyframes glitch {
    0% {
      filter: url(#blur0);
    }
    22% {
      filter: url(#blur2);
    }
    33% {
      filter: url(#blur3);
    }
    44% {
      filter: url(#blur4);
    }
    66% {
      filter: url(#blur1);
    }
    77% {
      filter: url(#blur5);
    }
    88% {
      filter: url(#blur4);
    }
    95% {
      filter: url(#blur1);
    }
    100% {
      filter: url(#blur3);
    }
  }
}
