.container {
  color: #282828;
  font-family: skik;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 200px;

  h3 {
    font-size: 6rem;
    padding-bottom: 16px;
  }
  p {
    font-family: Poppins;
    font-size: 1rem;
  }

  .light {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-variation-settings: "wght" 100;
    background-color: white;
    p {
      font-weight: 100;
    }
  }

  .normal {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-variation-settings: "wght" 300;
    p {
      font-weight: 300;
    }
  }

  .bold {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
    font-variation-settings: "wght" 500;
    p {
      font-weight: 500;
    }
  }

  .black {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
    font-variation-settings: "wght" 700;
    p {
      font-weight: 700;
    }
  }
}
