.container {
  color: #282828;
  font-family: Poppins;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 100px;

  h3 {
    font-size: 6rem;
    padding-bottom: 16px;
  }
  p {
    font-size: 1.5rem;
  }

  .light {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    background-color: white;
  }

  .normal {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: white;
  }

  .bold {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    background-color: white;
  }

  .black {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    background-color: white;
  }
}
