.footer {
  margin-bottom: 20px;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.75rem;
    color: #282828;
  }
}

@media only screen and (max-width: 770px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
