.header {
  width: 100%;
  height: 90vh;
  background-image: url("../public/frame11.webp");
  margin-bottom: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
