.container {
  color: #282828;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: center;
  margin-bottom: 100px;
  align-items: center;

  .firstSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    .text {
      width: 40%;
      font-weight: 300;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      line-height: 130%;
      gap: 10px;
    }

    .gallery {
    }
  }
  .secondSection {
    h2 {
      font-weight: 600;
      font-size: 2rem;
    }
  }
  .thirdSection {
  }
}
