.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .mockup1,
  .mockup2,
  .mockup3,
  .mockup4,
  .mockup5,
  .mockup6 {
    width: 610px;
    height: 460px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mockup1 {
    background-image: url("../public/lube.png");
  }
  .mockup2 {
    background-image: url("../public/wave.png");
  }
  .mockup3 {
    background-image: url("../public/beer.png");
  }
  .mockup4 {
    background-image: url("../public/harry.png");
  }
  .mockup5 {
    background-image: url("../public/posterz.png");
  }
  .mockup6 {
    background-image: url("../public/soda.png");
  }

  @media only screen and (max-width: 770px) {
    .mockup1,
    .mockup2,
    .mockup3,
    .mockup4,
    .mockup5,
    .mockup6 {
      width: 100%;
      height: 300px;
    }
  }
}

@media only screen and (max-width: 770px) {
  .container {
    gap: 0px;
    margin-bottom: 100px;
  }
}
